.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--yy-base2X);
}

.title {
  text-align: center;
}

.button {
  margin-top: var(--yy-base3X);
  width: fit-content;
}
