.contentContentWrapper {
  display: flex;
  flex-direction: column;
  padding: calc(var(--yy-base) * 4);
  max-width: calc(var(--yy-base) * 150);
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--yy-base) * 3);
}
