.row {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--yy-base) * 4);
}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--yy-base) * 2);
}

@media screen and (max-width: 767px) {
  .row {
    width: 100%;
  }
}

.editFormPoints {
  display: flex;
  margin-bottom: 16px;
  justify-content: center;
}

.editFormPoint {
  color: var(--yy-divider-color);
  text-transform: uppercase;
  font-size: 18px;
}

.arrowPoint {
  margin: 0 8px;
  color: var(--yy-divider-color);
}
