.wrapper {
  padding: calc(var(--yy-base) * 3);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--yy-base) * 3);

  .headerTitle {
    margin-right: calc(var(--yy-base) * 2);
  }
}

.detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
