.wrapper {
  padding: calc(var(--yy-base) * 3);
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--yy-base) * 3);

  .headerTitle {
    margin-right: calc(var(--yy-base) * 2);
  }
}

.detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.block {
  flex: 1;
  border-radius: calc(var(--yy-base) * 2);
  padding: calc(var(--yy-base) * 3);

  &:first-child {
    margin-right: calc(var(--yy-base) * 4);
  }
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--yy-base) * 2);
}

.row {
  margin-bottom: calc(var(--yy-base) * 2);

  pre {
    white-space: break-spaces;
  }

  &:last-child {
    margin: 0;
  }
}

.phones {
  display: flex;
  flex-direction: column;
}

.phone {
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .detail {
    flex-direction: column;
  }

  .block {
    &:first-child {
      margin-right: 0;
      margin-bottom: calc(var(--yy-base) * 4);
    }
  }
}
