.page {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  line-height: 0;
  font-size: calc(var(--yy-base) * 50);
}

.link {
  font-size: calc(var(--yy-base) * 5);
}
