.lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;

  @media (max-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
