body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--yy-background-default, #f2f6f6);
}

a {
  color: var(--yy-info-main);
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#loading-dots {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

#loading-dots .dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 6px;
  background-color: var(--yy-primary-main, #0db2b2);
  border-radius: 50%;
  animation-name: linearLoading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#loading-dots .second-dots {
  animation-delay: 500ms;
}

#loading-dots .third-dots {
  animation-delay: 1000ms;
}

#loading-dots .title {
  white-space: nowrap;
  font-size: 46px;
  color: var(--yy-text-primary, rgba(0, 0, 0, 0.87));
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#loading-dots .title.subtitle {
  white-space: nowrap;
  font-size: 20px;
  color: var(--yy-text-disabled, rgba(0, 0, 0, 0.38));
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 16px;
}

@keyframes linearLoading {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0.4;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
