.title {
  margin-right: calc(var(--yy-base) * 2);
}

.listItem {
  padding: 0;
}

.link {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}