.title {
  margin-right: calc(var(--yy-base) * 2);
}

.listItem {
  padding: 0;
}

.menuWrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  display: flex;
  width: 100%;
  padding: calc(var(--yy-base) * 2);
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
}

.logoutButton {
  position: fixed;
  width: fit-content;
  bottom: calc(var(--yy-base) * 4);
  align-self: center;
}
