.row {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--yy-base) * 4);
}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--yy-base) * 2);
}

@media screen and (max-width: 767px) {
  .row {
    width: 100%;
  }
}
