.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .icon {
    pointer-events: none;
  }
}

.tableRow {
  &:last-child td {
    border: 0;
  }
  &:last-child th {
    border: 0;
  }

  .currencyCell {
    white-space: nowrap;
  }
}
