.order {
  display: flex;
  padding: calc(var(--yy-base) * 4);
  margin-bottom: calc(var(--yy-base) * 4);
  flex-wrap: wrap;
  border-radius: calc(var(--yy-base) * 2);

  &:last-child {
    margin-bottom: 0;
  }
}

.columnLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  margin-right: calc(var(--yy-base) * 2);
}

.columnRight {
  width: calc(var(--yy-base) * 23);
  text-align: right;
}

.orderTitle {
  margin-bottom: calc(var(--yy-base) * 3);
  max-width: 100%;
  word-break: break-word;
}

.orderPhone {
  margin-bottom: var(--yy-base);

  &:last-child {
    margin-bottom: 0;
  }
}

.skeleton {
  margin-bottom: calc(var(--yy-base) * 4);
}

.phones {
  display: inline-flex;
  max-width: calc(var(--yy-base) * 39);
  flex-direction: column;
}
