.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__form {
    max-width: 360px;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }

  &__formItem {
    margin: 8px 0;
  }
}


.test {
  height: 15px;
  font-size: 12px;
  display: block;
  margin-top: 8px;
}