.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--yy-base) * 8);
}

.modalContentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: calc(var(--yy-base) * 4);
  max-width: calc(var(--yy-base) * 150);
  overflow: hidden;
}

.titleWrapper {
  margin-right: calc(var(--yy-base) * 9);
  margin-bottom: calc(var(--yy-base) * 3);
}

.closeButton {
  position: absolute;
  top: calc(var(--yy-base) * 2);
  right: calc(var(--yy-base) * 2);
}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: calc(var(--yy-base) * 3);
}

.confirmWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--yy-confirm-backdrop);
  animation: fadeIn 0.3s both;
  z-index: 1;
}

.confirmContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: slideIn 0.3s both;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
